---
layout: default
---
<div class="pages">
    <article class="page">
      <h1><a href="{{ site.intro }}{{ page.url }}">{{ page.title }}</a></h1>

      <div class="entry">
        {{ page.content }}
      </div>
    </article>
</div>


<div class="posts">
  {% for post in site.posts reversed %}
  <div class="entry" style="padding-left : 10px ; float: right" > {{ post.img }}
  </div>
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.description }}
      </div>
    </article>
  {% endfor %}
</div>

<!-- OLD SETTINGS
<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.description }}
      </div>
    </article>
  {% endfor %}
</div>
-->
